body {
  display: flex;
  flex-direction: row;
  background-color: #495049;
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #f0fff4;
}

a {
  color: aliceblue;
}

h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #2e2e2e;
}

fieldset {
  border: none;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5%;
}

input {
  border-radius: 0.3em;
  width: 15rem;
}

label {
  color: #2e2e2e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}

button {
  margin-left: 5%;
  padding: 1em 3em;
  background-color: #596D48;
  border-radius: 0.8rem;
  color: #f0fff4;
  font-weight: bolder;
  border: none;
  box-shadow: 0px 10px 15px #212421;
}

.bannerbox {
  display: flex;
  flex-direction: column;
  background-image: url(/banner_img.jpg);
  background-size: cover;
  height: 100vh;
  width: 40vw;
}

.banner {
  display: flex;
  gap: 5%;
  align-self: center;
  background-color: #2b302b80;
  width: 100%;
  height: 15%;
  margin-top: 30%;
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center; 
}

#logo {
  display: flex;
  height: 100%;
  width: auto;
}

#bannertext {
  font-size: 3rem;
  color: #fff;
}

.footer {
  position: absolute;
  bottom: 10px;
  align-self: center;
  text-align: center;
  gap: 1em;
  color: #f0fff4;
  font-size: 0.7rem;
}

.blurbs {
  margin-top: 15%;
  margin-left: 5%;
  font-weight: bold;
  padding-right: 20%;
}

#formarea {
  background-color: #a8beaec9;
  box-shadow: 0px 10px 15px 0px #1f241fc9;
  margin-top: 8vh;
  margin-bottom: 5vh;
  padding: 2% 5% 5%;
}

.field {
  display: flex;
  flex-direction: column;
}

#signin {
  margin-left: 5%;
  font-size: 0.8rem;
  color: #f0fff4;
}